@model School.Entities.Fields.Classes

<style>
    #childPage {
        width: 800px;
        left: calc(50% - 400px);
        display: none;
    }

        #childPage #partialHolder {
            /*height: calc(100% - 2px);*/
            border: none;
            overflow-y: hidden;
            overflow-x: hidden;
            max-height: 260px;
        }
</style>

@using (Ajax.BeginForm("Update", "Classes", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", HttpMethod = "POST" }, new { @class = "form-horizontal", role = "form", id = "addNewForm" }))
{
    <div id="register-page" class="col-xs-12">
        <div class="form-horizontal" style="padding-top:20px;">

            @Html.HiddenFor(model => model.OldClassId)
            <div class="form-group">
                @Html.LabelFor(model => model.ClassId, new { @class = "col-sm-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.ClassId, new { @id = "ClassId", @class = "col-sm-12 form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ClassName, new { @class = "col-sm-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.ClassName, new { @id = "ClassName", @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input id="btnSave" type="submit" value="Update" class="btn btn-primary" onclick='return validateInput()' />
                    <button type="button" id="btnClose" class="btn btn-danger btnWidth btnlogColor" onclick="closepopup(this)">Close</button>
                </div>
            </div>
        </div>
    </div>
}
<script>

    function validateInput() {

        var _inputs = ['ClassId', 'ClassName'];
        var isvalid = ClassValidationHelper.ValidateInput(_inputs)
        if (isvalid === false) {
            ClassValidationHelper.errorEmptyField();
            return isvalid;
        }
    }

    function OnFailure(response) {
        var msgObj = { message: response.message, type: response.type, title: response.title, pageId: "" };
        classMessageResponse.showMessage(msgObj);
    };
    function OnSuccess(response) {
        var msgObj = { message: response.message, type: response.type, title: response.title, pageId: "" };
        classMessageResponse.showMessage(msgObj);
    };

</script>