@model IEnumerable<School.Entities.Fields.Subject>
@{
    School.Common.PagingHelper.Pager pager = Session["pager"] as School.Common.PagingHelper.Pager;
}

<style>

    td,
    th {
        padding: 0.25rem;
        text-align: left;
        border: 1px solid #ccc;
    }

    table .btn {
        margin: 0px 1px;
        height: 26px;
        padding: 2px 2px;
        letter-spacing: 1px;
        font-family: sans-serif;
        font-size: 1.1rem;
        width: 80px;
        background-color: transparent;
        border: thin solid silver;
        color: black;
    }
</style>

<div class="col-md-12" style="border: 0px solid white; display: inline-block;">
    <div class="card_t card-s">
        <div style="padding:15px;">
            <table id="tableId" class="table" style="border:1px solid silver;">
                <thead>
                    <tr>
                        <th>
                            <div class="col-wrapper">
                                <div class="col-L">
                                    @Html.DisplayNameFor(model => model.SubjectId)
                                </div>
                                <div class="col-R rm-pd">
                                    <div class="my-triangle-up"></div>
                                    <div class="my-triangle-down"></div>
                                </div>
                            </div>

                        </th>
                        <th>
                            <div class="col-wrapper">
                                <div class="col-L">
                                    @Html.DisplayNameFor(model => model.SubjectName)
                                </div>
                                <div class="col-R rm-pd">
                                    <div class="my-triangle-up"></div>
                                    <div class="my-triangle-down"></div>
                                </div>
                            </div>

                        </th>
                        <th style='width:60px'>
                            Edit
                        </th>
                        <th style='width:60px'>
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubjectId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubjectName)
                            </td>
                            <td>
                                <button id="btnEdit" type="button" class="btn btn-primary">Edit</button>
                            </td>
                            <td>
                                <button id="btnDelete" type="button" class="btnDelete btn btn-warning">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>

                <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="5" class="text-center" style="border:0px solid red;">

                            <div class="form-LCR">
                                <div class="form-L">
                                    @{
                                        // string lines = String.Format("Showing {0} to {1} of {2} entries", pager.StartItem, pager.LastItem, 50);
                                        string lines = String.Format("Showing {0} to {1} of {2} entries", pager.StartPage, 10, pager.TotalItems);
                                        <span>@lines</span>
                                    }

                                </div>
                                <div class="form-C"></div>
                                <div class="form-R">
                                    <ul style="width:auto;">
                                        <li class="previous-li" style="display:block" onclick="callControllerByPage('/Student/GetRecordByPage','View Student')">
                                            <a href="#">Previous</a>
                                        </li>

                                        @{
                                            for (int i = 0; i < pager.TotalPages; i++)
                                            {
                                                int pg = i + pager.StartPage;
                                                <li class="page-number" style="display:block" onclick="callControllerByPage('/Student/GetRecordByPage?page=@pg','View Student')">
                                                    <a href="#">@pg</a>
                                                </li>
                                            }
                                        }

                                        <li class="next-li" style="display:block" onclick="callController('/Student/GetRecordByPage','View Student')">
                                            <a href="#">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </td>
                    </tr>
                </tfoot>


            </table>
        </div>
    </div>
</div>

<script>

    $('#tableId #btnEdit').click(function (event) {
        event.preventDefault();
        event.stopPropagation();

        var SubjectId = $(this).closest('td').parent('tr').find("td:eq(0)").text().trim();
        var SubjectName = $(this).closest('td').parent('tr').find("td:eq(1)").text().trim();

        var data = {
            'SubjectId': SubjectId.trim(),
            'SubjectName': SubjectName.trim()
        };

        var header = 'Edit Drade';
        var url = '/Subject/UpdateView';

        var objPopup = classPageConstant.popupChildOne;
        var pageObj = { function: "popup", url: url, type: "Post", data: data, header: header, pageId: "", objPopup: objPopup };
        classControllerHelper.callController(pageObj);

    });


    $(".btnDelete").click(function (event) {
        event.preventDefault();
        event.stopPropagation();
        classMessageResponse.showMessage({ message: "Sorry, but this function is still under construction", type: "warning", title: "Under construction", pageId: "" });
    });

                //$("#btnDelete").click()
                //{
                //    classMessageResponse.showMessage({ message: "Sorry, but this function is still under construction", type: "warning", title: "Under construction", pageId: "" });
                //}

</script>

