@model IEnumerable<School.Entities.Fields.GradeClass>

@{
    string test = "test";
}
<div class="myContainer col-lg-offset-10 col-xs-2 rm-pd ">
    <input class="tablink active" id="btnAddNewRecord" type="button" value="Add New Record" style="width:130px;margin-top:5px;margin-bottom:5px;border-right:1px solid orange;" />
</div>

<table id="tableId" class="table" style="border:1px solid silver;">
    <thead style="background-color:rgb(240, 240, 240);">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GradeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                Edit
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GradeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                <button id="btnRowEdit" type="button" class="btnRowEdit btn btn-primary">Edit</button>
            </td>
        </tr>
        }
    </tbody>
</table>

<script>

    $('#btnAddNewRecord').click(function (event) {
        event.preventDefault();
        event.stopPropagation();

        var data = {
            //'SubjectId': SubjectId.trim(),
            //'SubjectName': SubjectName.trim()
        };

        var header = 'Add New Record';
        var url = '/GradeClass/AddRecord';

        var objPopup = classPageConstant.popupChildOne;
        var pageObj = { function: "popup", url: url, type: "Post", data: data, header: header, pageId: "", objPopup: objPopup };
        classControllerHelper.callController(pageObj);

    });

    $('#btnRowEdit').click(function (event) {
        event.preventDefault();
        event.stopPropagation();

        var GradeId = $(this).closest('td').parent('tr').find("td:eq(0)").text().trim();
        var ClassId = $(this).closest('td').parent('tr').find("td:eq(1)").text().trim();
        var ClassName = $(this).closest('td').parent('tr').find("td:eq(2)").text().trim();

        var data = {
            'GradeId': GradeId.trim(),
            'ClassId': ClassId.trim(),
            'ClassName': ClassName.trim()
        };

        var header = 'Edit Drade';
        var url = '/GradeClass/UpdateView';

        var objPopup = classPageConstant.popupChildOne;
        var pageObj = { function: "popup", url: url, type: "Post", data: data, header: header, pageId: "", objPopup: objPopup };
        classControllerHelper.callController(pageObj);

    });

</script>