@model School.UI.ViewModels.TeacherVM.TeacherRoleSimpleViewModel



<table id="tableId1" class="table" style="border:1px solid silver;">
    <thead style="background-color:rgb(47, 71, 86);color:white;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GradeId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SubjectId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>

            <th>
                <input type="checkbox" id="selectAllId" /> @*@Html.DisplayNameFor(model => model.IsSelected)*@
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

        </tr>
    </thead>
    <tbody id="tbodyId">
        @foreach (var sub in Model.TeacherRoles)
        {

            <tr>
                @*@Html.HiddenFor(x => sub.GradeId)*@
                <td>
                    @Html.DisplayFor(m => sub.GradeId)
                </td>

                <td>
                    @Html.DisplayFor(m => sub.SubjectId)
                </td>

                <td>
                    @Html.DisplayFor(m => sub.SubjectName)
                </td>

                <td>

                    <input type="checkbox" name="ids" id="ids" value="@sub.IsSelected" />
                    @* @Html.CheckBoxFor(m => sub.IsSelected, new { @id = "IsSelected" })*@

                </td>

                <td>
                    @Html.DisplayFor(m => sub.Status)
                </td>

            </tr>
        }

    </tbody>
</table>




<script>

    function getTableDataSimple(tablename) {

        let headers = document.querySelectorAll("#tableId1 > thead > tr > th");
        var tableColumnNamesList = [];
        var tableColumnNames = {};
        var dataTypeIs = null;
        for (var j = 0; j < headers.length; j++) {

            var inputs = headers[j].getElementsByTagName("input");
            if (inputs.length > 0) {
                //debugger;
                for (var i in inputs) {

                    if (inputs[i].type === 'text') {
                        dataTypeIs = "textbox";
                    }
                    else if (inputs[i].type === 'checkbox') {
                        inputs[i].checked = true;
                        dataTypeIs = "checkbox";
                    }
                    else if (inputs[i].type === 'option') {
                        dataTypeIs = "dropbox";
                    }
                    else {
                        dataTypeIs = "text";
                    }
                }
            }
            else {

                var t1 = headers[j].innerHTML.trim();
                var t2 = headers[j].innerText.trim();
            }
            var _prop = headers[j].innerHTML;
            tableColumnNames["column_" + j] = _prop.trim();

            var col = {}
            col["column_" + j] = j;
            tableColumnNamesList.push(col);
        }

        let trs = document.querySelectorAll("#tableId1 > tbody > tr");
        var trsValueList = [];
        var trsValue = {};
        var tRows = trs.length;

        var tdsValue = {};
        let tds = null;
        var tdsValueList = [];
        var cellValue = "";
        var isType = null;
        for (var k = 0; k < trs.length; k++) {
            tdsValue = {};
            tds = trs[k].querySelectorAll("td");
            //let tds = document.querySelectorAll("#tableId1 > tbody > tr > td");
            for (var x = 0; x < tds.length; x++) {
                var inputs = tds[x].getElementsByTagName("input");
                if (inputs.length <= 0) {

                    cellValue = tds[x].innerText.trim();
                    tdsValue["column_" + x] = cellValue;
                }

                else {

                    for (var y = 0; y < inputs.length; y++) {
                        isType = inputs[y].type;
                        if (inputs[y].type === 'text') {
                            dataTypeIs = "textbox";
                            cellValue = inputs[y].text();
                            tdsValue["column_" + x] = cellValue;
                        }
                        else if (inputs[y].type === 'checkbox') {
                            //inputs[y].checked = true;
                            dataTypeIs = "checkbox";
                            cellValue = inputs[y].checked;
                            tdsValue["column_" + x] = cellValue;
                        }
                        else if (inputs[y].type === 'option') {
                            dataTypeIs = "dropbox";
                            tdsValue["column_" + x] = cellValue;
                        }
                        else {

                            dataTypeIs = "text";
                            var _t = inputs[y].type;
                            var _t = inputs[x].type;
                            cellValue = inputs[y].innerText.trim();
                            tdsValue["column_" + x] = cellValue;
                        }
                    }
                }
            }
            tdsValueList.push(tdsValue);
        }
        debugger;
    }

    function getTableColumns(tableId) {

        let headerTR = document.querySelectorAll(tableId + " > thead > tr");
        let headers = document.querySelectorAll(tableId + " > thead > tr > th");
        var columnNameList = [];
        var columnName = {};
        var column = "";
        var typeIs = null;
        for (var i = 0; i < headers.length; i++) {
            var col = {}
            columnName = {};
           // debugger;
            var inputs = headers[i].getElementsByTagName("input");
            if (inputs.length > 0) {
                for (var j in inputs) {

                    if (inputs[j].type === 'text') {
                        typeIs = "textbox";
                        column = inputs[j].value;
                    }
                    else if (inputs[j].type === 'checkbox') {
                        inputs[j].checked = true;
                        typeIs = "checkbox";
                        column = inputs[j].checked;
                    }
                    else if (inputs[j].type === 'option') {
                        typeIs = "dropbox";
                        var element = inputs[j].value;
                        var text = element.options[element.selectedIndex].text;
                    }
                    else {
                        typeIs = "text";
                    }
                }
            }
            else {
                column = headers[i].innerText.trim();
            }
            //debugger;
            columnName["column_" + i] = i;
            columnName["column_value_" + i] = column;
            columnNameList.push(columnName);
        }
        //return columnName;
        return columnNameList;
    }

    function getTableRows(tableId) {

        //(tableId + " > thead > tr");
        //let headerTR = document.querySelectorAll(tableId + " > thead > tr");
        //let trs0 = document.querySelectorAll(tableId + " > tbody > tr");
        let trs = document.querySelectorAll(tableId + " > tbody > tr");
        var rowDataList = [];
        var rowData = {};
        let tds = null;
        var cellValue = "";
        var isType = null;
        ///tdsValue
        for (var k = 0; k < trs.length; k++) {
            rowData = {};
            tds = trs[k].querySelectorAll("td");
            for (var x = 0; x < tds.length; x++) {
                var inputs = tds[x].getElementsByTagName("input");
                if (inputs.length <= 0) {
                    cellValue = tds[x].innerText.trim();
                    rowData["column_" + x] = cellValue;
                }
                else {

                    for (var y = 0; y < inputs.length; y++) {
                        isType = inputs[y].type;
                        if (inputs[y].type === 'text') {
                            dataTypeIs = "textbox";
                            cellValue = inputs[y].text();
                            rowData["column_" + x] = cellValue;
                        }
                        else if (inputs[y].type === 'checkbox') {
                            //inputs[y].checked = true;
                            dataTypeIs = "checkbox";
                            cellValue = inputs[y].checked;
                            rowData["column_" + x] = cellValue;
                        }
                        else if (inputs[y].type === 'option') {
                            dataTypeIs = "dropbox";
                            rowData["column_" + x] = cellValue;
                        }
                        else {

                            dataTypeIs = "text";
                            var _t = inputs[y].type;
                            var _t = inputs[x].type;
                            cellValue = inputs[y].innerText.trim();
                            rowData["column_" + x] = cellValue;
                        }
                    }
                }
            }
            rowDataList.push(rowData);
        }
        return rowDataList;
    }

    function getTableData(tableId) {

        var tableColums = getTableColumns("#tableId1");
        var tableRows = getTableRows("#tableId1");

        var tableData = [];
        var originColums = {};
        var newColums = {};
        var _v3 = getTableData("#tableId1");
        debugger;

    }


    function getTableDataBetter(tablename) {

        //let headers = document.querySelectorAll("#tableId1 > thead > tr > th");
        //var tableColumnNamesList = [];
        //var tableColumnNames = {};
        //var dataTypeIs = null;

        var columns = ["GradeId", "SubjectId", "SubjectName", "Assign", "Status"];

        let trs = document.querySelectorAll("#tableId1 > tbody > tr");
        var trsValueList = [];
        var trsValue = {};
        var tRows = trs.length;

        var tdsValue = {};
        let tds = null;
        var tdsValueList = [];
        var cellValue = "";
        var isType = null;
        for (var k = 0; k < trs.length; k++) {
            tdsValue = {};
            tds = trs[k].querySelectorAll("td");
            //let tds = document.querySelectorAll("#tableId1 > tbody > tr > td");
            for (var x = 0; x < tds.length; x++) {
                var inputs = tds[x].getElementsByTagName("input");
                if (inputs.length <= 0) {

                    cellValue = tds[x].innerText.trim();
                    //tdsValue["column_" + x] = cellValue;
                    tdsValue[columns[x]] = cellValue;
                }

                else {

                    for (var y = 0; y < inputs.length; y++) {
                        isType = inputs[y].type;
                        if (inputs[y].type === 'text') {
                            dataTypeIs = "textbox";
                            cellValue = inputs[y].text();
                            //tdsValue["column_" + x] = cellValue;
                            tdsValue[columns[x]] = cellValue;
                        }
                        else if (inputs[y].type === 'checkbox') {
                            //inputs[y].checked = true;
                            dataTypeIs = "checkbox";
                            cellValue = inputs[y].checked;
                            //tdsValue["column_" + x] = cellValue;
                            tdsValue[columns[x]] = cellValue;
                        }
                        else if (inputs[y].type === 'option') {
                            dataTypeIs = "dropbox";
                            //tdsValue["column_" + x] = cellValue;
                            tdsValue[columns[x]] = cellValue;
                        }
                        else {

                            dataTypeIs = "text";
                            var _t = inputs[y].type;
                            var _t = inputs[x].type;
                            cellValue = inputs[y].innerText.trim();
                            //tdsValue["column_" + x] = cellValue;
                            tdsValue[columns[x]] = cellValue;
                        }
                    }
                }
            }
            tdsValueList.push(tdsValue);
        }
        return tdsValueList;
    }



</script>

